*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    box-sizing: border-box;
}

body{
    background: #0d220d;
    height: 100vh;
}

.contenitore{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tavolo{
    width: 1000px;
    height: 550px;
    border: 15px solid rgb(89, 59, 3);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #265f2a;
    -webkit-box-shadow: 0px 0px 45px 6px rgba(0,0,0,0.85); 
    box-shadow: 0px 0px 45px 6px rgba(0,0,0,0.85);
}

.rows{
    width: 85%;
    height: 85%;
    border: 1px solid white;
    border-radius:25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card{
    background: rgb(193, 22, 22);
    border: 2px solid white;
    height: 100px;
    width: 60px;
    border-radius: 7px;
    transition: all .2s ease-out;
}


.card:hover{
    height: calc(100px + 10%);
    width: calc(60px + 5%);
    animation-name: rotazione;
    animation-duration: 1s;
    animation-delay: .2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes rotazione {
    from {
        width: calc(60px + 5%);
    }
    50%{
        width: 0;
    }
    to{
        width: calc(60px + 5%)
    }
}