.form{
    grid-area: c;
    height: 80%;
    width: 80%;
    /* left: 50%;
    transform: translateX(-50%); */
    background: #265f2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 400px;
    border: 4px solid rgb(89, 59, 3);
    -webkit-box-shadow: 0px 0px 45px 6px rgba(0,0,0,0.85); 
    box-shadow: 0px 0px 45px 6px rgba(0,0,0,0.85);
    justify-self: center;
    align-self: center;
}

.formDisappear{
    animation-name: apparizione;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes apparizione{
    from{
        opacity: 100%
    }
    to{
        opacity: 0%
    }
}

.submit{
    color: black;
    border-radius: 20px;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 45px 6px rgba(0,0,0,0.85);
}

.nPlayer{
    color: black;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    gap: 15px;
}

.options div{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    transition: all .1s ease-out;
}

 .easy:hover, .medium:hover, .hard:hover{
    box-shadow: 0px 0px 10px 5px white;
}

.easy{
    background-image: url("./file/icon/bluff/smile.png")
}
.medium{
    background-image: url("./file/icon/bluff/confused.png")
}
.hard{
    background-image: url("./file/icon/bluff/wink.png")
}