.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    margin: 0 20px;
}

.leftPlayer .card-container, .rightPlayer .card-container{
    transform: rotate(90deg);
    height: initial;
}