.card{
    height: 87px;
    width: 60px;
    border-radius: 7px;
    transition: all .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPlayer .card{
    transform: rotate(90deg)
}

.rightPlayer .card{
    transform: rotate(90deg)
}


.figura{
    /* background: rgb(193, 22, 22); */
    /* background-image: url('../../../cartePng/10_of_clubs.png'); */
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    border: 2px solid white;
    transition: all .2s ease-out;
}

.card:hover{
    height: 101px;
    width: 71px;
}

/* .card:hover .figura{
    animation: rotazione 1s ease-out .2s
     1 normal forwards;
} */

img{
    width: 60px
}

@keyframes rotazione {
    from {
       width: 100%;
       height: 100%;
       border: 2px solid white;
    }
    40%{
        border: 2px solid white;
    }
    50%{
        width: 0;
        height: 100%;
        border: none;
        background: rgb(193, 22, 22);
        /* background: white */
    }
    60%{
        border: 2px solid white;
        background: white;
        background: url('../../../cartePng/10_of_clubs.png');
        background-size: cover;
    }
    to{
        width: 100%;
        height: 100%;
        border: 2px solid white;
        background: url('../../../cartePng/10_of_clubs.png');
        background-size: cover;
    }
} 