.card{
    height: 87px;
    width: 60px;
    border-radius: 7px;
    transition: all .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


.figura{
    /* background: rgb(193, 22, 22); */
    /* background-image: url('../../../cartePng/10_of_clubs.png'); */
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    border: 2px solid white;
    transition: all .2s ease-out;
}

img{
    width: 60px
}