*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    box-sizing: border-box;
}

body{
    background: #0d220d;
    height: 100vh;
}

.contenitore{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
                        'l t t t r'
                        'l c c c r'
                        'l c c c r'
                        'l c c c r'
                        'l b b b r';
}


