*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    box-sizing: border-box;
}

body{
    background: #0d220d;
    height: 100vh;
}

.contenitore{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
                        'l t t r'
                        'l c c r'
                        'l c c r'
                        'l b b r';
}


/* .card:hover{
    animation-name: rotazione;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
} */
/* 
.card:hover{
    height: 130px;
    width: 80px;
}

.card:hover .figura{
    animation: rotazione 1s ease-out .2s
     1 normal forwards;
}


@keyframes rotazione {
    from {
       width: 100%;
       height: 100%;
       border: 2px solid white;
    }
    40%{
        border: 2px solid white;
    }
    50%{
        width: 0;
        height: 100%;
        border: none;
        background: rgb(193, 22, 22);
    }
    60%{
        border: 2px solid white;
        background: white;
    }
    to{
        width: 100%;
        height: 100%;
        border: 2px solid white;
        background: white;
    }
}  */