*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    box-sizing: border-box;
}

body{
    background: #0d220d;
    height: 100vh;
}

.contenitore{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
                        'f f t t w r'
                        'l c c c c r'
                        'l c c c c r'
                        'u b b b b r';
}


.tavolo{
    width: 100%;
    height: 100%;
    border: 15px solid rgb(89, 59, 3);
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #265f2a;
    -webkit-box-shadow: 0px 0px 45px 6px rgba(0,0,0,0.85); 
    box-shadow: 0px 0px 45px 6px rgba(0,0,0,0.85);
    grid-area: c;
} 

.top{
    grid-area: t;
}

.bottom{
    grid-area: b;
}

.right{
    grid-area: r;
}

.left{
    grid-area: l
}

.top, .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.rows{
    width: 85%;
    height: 85%;
    border: 1px solid white;
    border-radius:25%;
    gap: 30px;
}

.card{
    height: 100px;
    width: 60px;
    border-radius: 7px;
    transition: all .2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figura{
    background: rgb(193, 22, 22);
    height: 100%;
    width: 100%;
    border-radius: 7px;
    border: 2px solid white;
    transition: all .2s ease-out;
}


/* .card:hover{
    animation-name: rotazione;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
} */
/* 
.card:hover{
    height: 130px;
    width: 80px;
}

.card:hover .figura{
    animation: rotazione 1s ease-out .2s
     1 normal forwards;
}


@keyframes rotazione {
    from {
       width: 100%;
       height: 100%;
       border: 2px solid white;
    }
    40%{
        border: 2px solid white;
    }
    50%{
        width: 0;
        height: 100%;
        border: none;
        background: rgb(193, 22, 22);
    }
    60%{
        border: 2px solid white;
        background: white;
    }
    to{
        width: 100%;
        height: 100%;
        border: 2px solid white;
        background: white;
    }
}  */